body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: #555;
  color: white;
}

td, th {
  padding: 10px;
  text-align: center;
}
