@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto condensed', sans-serif;
    background-color:#fff8f1;
    font-weight: 300;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}
    
thead{
    background-color: #461d01;
    color: #fff8f1;    
}

th{
  font-family: 'roboto condensed';
  font-weight: 300;
  padding: 15px;
}

td{
    padding: 10px;
    font-size: small;
}
        
a {
color: gray;

}