@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../SOURCES/background-UX-Register.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos del contenedor fuera del formulario*/

.contenedor{
    min-width: 300px;
    max-width: 380px;
    height: 450px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.555) 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding: 0 20px;
    z-index: -3;
    position: relative;
}

/*Icono para devolverse a la pagina de inicio*/

.back-icon{
    position: absolute;
    width: 40px;
    height: 30px;
    top: 20px;
    left: 20px;
    transition: all .5s ease;
    padding-right: 10px;
    cursor: pointer;
}

.back-icon:hover{
transform: translateX(-10px);
    filter: brightness(0) saturate(100%) invert(60%) sepia(30%) saturate(500%) hue-rotate(160deg);
    box-shadow: black 1px 0px 0px;

}

.tittle-text{
    text-align: center;
    margin: 0 50px;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    position: relative;
}

h1::after{
    content: '';
    display: inline-block;
    width: 80px;
    height: 5px;
    background-color: #0097b2;
    position: absolute;
    top: 40px;
    left: calc(50% - 40px);
    border-radius: 2.5px;
}

p{
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100    ;
    font-style: normal;
    font-size: 14px;
}

form{
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center;
}

input{
    width: 200px;
    height: 35px;
    border-radius: 17.5px;
    border:gray 1px solid;
    padding: 5px;
}

/*Estilos del boton de registro*/

form button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffb000;
    border-style: none;
    font-family: "Host Grotesk", sans-serif;
    grid-column: 1 / -1;
    margin-top: 20px;
    cursor: pointer;
    transition: transform .5s ease, background-color .5s ease, color .5s ease;
    position: relative;
    overflow: hidden;
}

.send-info:hover{
    background-color: transparent;
}

.send-info::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    top: -80px;
    left: 0;
    transition: all .5s ease;
    z-index: -2;
}

.send-info::after{
    content: '';
    position: absolute;
    width: 145px;
    height: 34px;
    background: #ffffff;
    z-index: -1;
    border-radius: 22.5px;
    top: 2.5px;
    left: 2.5px;
}

.send-info:hover::before{
    background-image: conic-gradient(#0097b2 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}

@keyframes rotar{
    from{
      transform: rotate(0deg);
    } to{
       transform: rotate(360deg);
    }
}
