@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        background-color:#fff8f1;
        font-family: 'roboto condensed', sans-serif;

}

/*Estilos de la cabecera*/

header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #461d01;
}

h1{
    font-family: 'Anton', sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 5px;
    cursor: pointer;
}

h1::after{
    content: '';
    width: 3.5px;
    height: 26px;
    background-color: black;
    display: inline-block;
    margin: 0 15px;
    background-color: #461d01;
    border-radius: 10px;
}

header i{
    padding-top: 5px;
    cursor: pointer;
}

/*Estilos de; Contenedor principal*/

.container{
    width: 100%;
    height: 60vh;
    background-image: url("https://images.pexels.com/photos/3184285/pexels-photo-3184285.jpeg?cs=srgb&dl=pexels-fauxels-3184285.jpg&fm=jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.container::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000005d;
    z-index: -1;
}

.content{
    display: flex;
    z-index: 1;
    gap: 50px;
}

.login, .register{
    min-width: 300px;
    height: 200px;
    background-color: #461d015d;
    backdrop-filter: blur(5px);
    border-radius: 35px;
    color:#fff8f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    box-shadow: #000 .5px .5px 3px .5px;
}

.login>h2, .register>h2{
    font-size: 30px;
    font-weight: 100;
}

.manageBussines, .newBussines {
  padding: 10px 15px;
  border-radius: 15px;
  border-style: none;
  background-color: #ffb000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

a{
  text-decoration: none;
  color: #461d01;
}

.manageBussines::before, .newBussines::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ffb000;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  border-radius: 15px;
}

/* Estado inicial del brillo */
.manageBussines::after, .newBussines::after {
  content: '';
  display: inline-block;
  width: 140%;
  height: 200px;
  background-color: #fff8f1;
  position: absolute;
  z-index: -1;
  top: -200%;
  left: -200%;
  transform: translateX(0) rotate(60deg);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

/* Al pasar el mouse: se desplaza y se hace visible */
.manageBussines:hover::after, .newBussines:hover::after {
  transform: translateX(150%) rotate(45deg);
  opacity: 1;
}

/* Fondo transparente al hover */
.manageBussines:hover, .newBussines:hover {
  background-color: transparent;
}







