@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto condensed', sans-serif;
    background-color:#fff8f1;
    display: flex;
    font-weight: 300;
    transition: background-color 1s ease;
}

/*Estilos para textos*/

h2{
    font-family: 'roboto condensed', sans-serif;
    font-weight: 300;
    transition: color 1s ease;
}

h1{
    font-family: 'roboto condensed', sans-serif;
    font-weight: 200;
    color: #fff8f1;
}

a{
    color: rgb(255, 255, 255);
    font-family: 'roboto condensed', sans-serif;
    font-weight: 300;
}

.welcome-admin{
    font-size: 20px;
    width: 200px;
    text-align: center;
    color: #fff8f1;
}

/*Estilos de la barra de navegacion a la izquierda de la pagina*/

#navegation{
    background-color: #461d01;
    height: 100vh;
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 100px;
    position: fixed;
     box-shadow: 0 20px 30px rgba(0,0,0,0.4);
     transition: background-color 1s ease;
}

#navegation::-webkit-scrollbar {
    width: 8px; /* Un poco más de ancho para que sea más fácil de usar */
  }
  
  /* Fondo de la barra de desplazamiento (la pista) */
#navegation::-webkit-scrollbar-track {
    background: transparent; /* Fondo transparente */
    border-radius: 10px;
    /* El margen superior e inferior creará el espacio que buscabas */
    margin: 50px 0; 
  }
  
  /* El "pulgar" o la parte móvil de la barra de desplazamiento */
#navegation::-webkit-scrollbar-thumb {
    background: #fff8f1; /* Color del pulgar */
    border-radius: 10px;
    border: 2px solid transparent; /* Crea un padding visual alrededor del pulgar */
    background-clip: content-box;
  }
  
  /* Estilos para cuando el mouse está sobre la barra */
#navegation::-webkit-scrollbar-thumb:hover {
    background-color: #ffb000; /* Un color ligeramente más claro al pasar el mouse */
  }
  
  /* Ocultamos las flechas (esto generalmente no es necesario, pero lo mantenemos por si acaso) */
#navegation::-webkit-scrollbar-button {
    display: none;
  }

#iconHome{
 position: absolute;
 top: 20px;
 left: 20px;
 color: #fff8f1;
 cursor: pointer;
}

#navegation a{
    text-decoration: none;
}

#navegation .listMother{
    width: 80%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    color:#fff8f1;
}

#liUsers, #liProducts, #liGets, #liStats, #liAbout{ /*Estos son los li que se usan para clasificar a las listas de opciones dentro del nav*/
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

    #liSearch{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
}

.sheetList, .sheetListProducts, .sheetListGets, .sheetListStats, .sheetListAbout{ /*Sublista del apartado de usuarios y sus consultas*/
font-size: small;
font-weight: 300;
list-style: none;
display: grid;
grid-template-rows: repeat(3, 1fr);
gap: 10px;
transition: all .5s ease;
height: 0;
overflow: hidden;
}

.current-page{
 font-weight: 700;
}

.fa-caret-up{
    transition: all .3s ease-in-out;
}

#inputSearchProfile{
    padding: 9px 10px;
    border-radius: 15px;
    width: 100%;
    border-style: none;
}

#btnSearch{
    width: 100px;
    height: 30px;
    border-radius: 25px;
    border-style: none;
    background-color: #0097b2;
    color: #fff8f1;
    cursor: pointer;
}

/*Contenedor de boton de logueo y modo de colores*/

.btn-color-mode{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 30px;
}

.btn-color-mode-choices{
    width: 100px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #fff8f1;
    border-radius: 20px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.background-modes{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 39px;
    background-color: #fff8f1;
    z-index: 0;
    transition: all 1s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 0;
}

.background-modes.light-mode-active {
  transform: translateX(0);
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.background-modes.dark-mode-active {
  transform: translateX(50px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}



.btn-color-mode-choices button{
 padding: 7px;
 border-style: none;
 background-color: transparent;
 font-size: 15px;
 z-index: 2;
}

.btn-color-mode-choices button:nth-child(2){
    color: #461d01;
}

.btn-color-mode-choices button:nth-child(3){
    color: #fff8f1;
}

.bi-sun, .dark-mode{
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.bi-sun:hover{
    transform: scale(130%);
}

.dark-mode:hover{
    transform: scale(130%);
}

/*Boton de logueo*/

.btn-close-session{
    padding: 10px;
    border-radius: 20px;
    background-color: #ffb000;
    color: #461d01;
    border-style: none;
}

/*Estilos del formulario para agregar manualmente un nuevo usuario a la pagina*/

#container{
    width: 20%;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

#container>form{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#container>form>input{
    width: 200px;
    height: 50px;
    padding: 20px 10px;
    border-radius: 15px;
    border-style: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}

input:focus {
  outline: none; /* Elimina el contorno */
  border: none;  /* Opcional: elimina el borde si lo tiene */
}

.buttonBox{
    width: 300px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}


.buttonBox button{
    
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    border-style: none;
    background-color: #461d01;
    color: #fff8f1;
    cursor: pointer;
    transition: all .2s ease-in-out;
     box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.buttonBox button:hover{
    transform: scale(1.2);
    background-color: #0097b2 !important;
    box-shadow: #0097b2 1px 1px 10px 1px;
}

#view{
    width: 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 50px 50px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    background-color: #fff8f1;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
     box-shadow: 0 10px 30px rgba(0,0,0,0.2);
     transition: all 1s ease;
}

table.table-dark{
    background-color: #131313ff;
    color: #fff8f1;
}

table.table-dark thead{
    background-color: #0097b2;
    transition: all 1s ease;

}

table a{
    color: gray;
}

table input{
    padding: 5px ;
    border-radius: 15px;
    border-style: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}

table input:focus{
    border-style: none;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.514);
}

thead{
    background-color: #461d01;
    color: #fff8f1;  
    transition: all 1s ease;
}

th{
  font-family: 'roboto condensed';
  font-weight: 300;
  padding: 15px;
}

td{
    padding: 10px;
    font-size: small;
}

td>button{
    background-color: transparent;
    border-style: none;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.514);
    cursor: pointer;
}

/*Ventana modal*/

.modalWindow{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(76, 76, 76, 0.356);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.modalContainer{
  width: 500px;
  height: 600px;
  background-color: #fff8f1;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
   box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease;
  transform: translateY(-100%);
}

.formUpdateUser{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formUpdateUser input{
    padding: 15px 10px;
    border-radius: 10px;
    border-style: none;
    width: 200px;
    box-shadow: #2b2b2b7e 1px 1px 5px;
    font-family: 'roboto condensed', sans-serif;
}

.formUpdateUser button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    border-style: none;
    box-shadow: #2b2b2b7e 1px 1px 5px;
    font-family: 'roboto condensed', sans-serif;
    background-color: #461d01;
    transition: all .2s ease;
    color: #fff8f1;
    cursor: pointer;
}

.formUpdateUser button:hover{
    transform: scale(1.1);
    background-color: #0097b2;
    box-shadow: #0097b2 1px 1px 10px 1px;
}

.formUpdateUser h2{
    margin-bottom: 20px;
}

.back-icon{
    position: absolute;
    width: 40px;
    height: 30px;
    top: 30px;
    left: 30px;
    transition: all .5s ease;
    padding-right: 10px;
    cursor: pointer;
}

.back-icon:hover{
transform: translateX(-10px);
    filter: brightness(0) saturate(100%) invert(60%) sepia(30%) saturate(500%) hue-rotate(160deg);
    box-shadow: black 1px 0px 0px;

}

/**/