@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Playwrite+NO:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root{

    /*Colores primarios*/
    --pastel-blanco:#fff8f1;
    --chocolate-marron:#461d01;
    --cielo-turqueza:#0097b2;
    --mostaza-amarillo:#ffb000;
    --fondo-negro:#2f2f2fff;

    /*Degradados principales*/

    --fade-blue:linear-gradient(135deg, #0D47A1, #0097b2);
    --fade-yellow:linear-gradient(135deg, #EF6C00, #ffb000);

    /*Sombras*/

    --main-shadow: 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);

    --dark-z-shadow:-5px -5px 10px rgba(255, 255, 255, 0.1),
                         10px 10px 10px rgba(0, 0, 0, 0.3),
                         inset -3px -3px 5px rgba(255, 255, 255, 0.1),
                         inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

html{
    font-size: 1vw;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#fff8f1;
    display: flex;
    font-weight: 300;
    transition: all 1s ease;
    opacity: 0;
}

body.active{
    opacity: 1;
}

body.body-its-dark{
    background-color: #2f2f2fff;
}

body.body-its-dark h3{
    color: #fff8f1;
}

body.body-its-dark h1{
    color: #fff8f1;
}


    .dashboard-orders{
      margin-left: 15%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5rem;
      gap: 1rem;
    }


/*Estilos para textos*/

h2{
    font-family: 'Roboto condensed', sans-serif;
    font-weight: 300;
    transition: color 1s ease;
}

h1{
    font-family: 'Roboto condensed', sans-serif;
    font-weight: 200;
    color: var(--chocolate-marron);
    font-weight: 500;
}

a{
    color: rgb(255, 255, 255);
    font-family: 'Roboto condensed', sans-serif;
    font-weight: 300;
}

.welcome-admin{
    font-size: 1rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    color: #fff8f1;
}

/*Estilos de la barra de navegacion a la izquierda de la pagina*/

#navegation{
    background-color: #461d01;
    height: 100vh;
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 5rem;
    position: fixed;
     box-shadow: 0 20px 30px rgba(0,0,0,0.4);
     transition: background-color 1s ease;
}

#navegation::-webkit-scrollbar {
    width: 8px; /* Un poco más de ancho para que sea más fácil de usar */
  }
  
  /* Fondo de la barra de desplazamiento (la pista) */
#navegation::-webkit-scrollbar-track {
    background: transparent; /* Fondo transparente */
    border-radius: 10px;
    /* El margen superior e inferior creará el espacio que buscabas */
    margin: 50px 0; 
  }
  
  /* El "pulgar" o la parte móvil de la barra de desplazamiento */
#navegation::-webkit-scrollbar-thumb {
    background: #fff8f1; /* Color del pulgar */
    border-radius: 10px;
    border: 2px solid transparent; /* Crea un padding visual alrededor del pulgar */
    background-clip: content-box;
  }
  
  /* Estilos para cuando el mouse está sobre la barra */
#navegation::-webkit-scrollbar-thumb:hover {
    background-color: #ffb000; /* Un color ligeramente más claro al pasar el mouse */
  }
  
  /* Ocultamos las flechas (esto generalmente no es necesario, pero lo mantenemos por si acaso) */
#navegation::-webkit-scrollbar-button {
    display: none;
  }

#iconHome{
 position: absolute;
 top: 20px;
 left: 20px;
 color: #fff8f1;
 cursor: pointer;
}

.img-logo img{
    width: 10rem;
}

#navegation a{
    text-decoration: none;
}

#navegation .listMother{
    width: 80%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    color:#fff8f1;
}

#liUsers, #liProducts, #liGets, #liStats, #liAbout{ /*Estos son los li que se usan para clasificar a las listas de opciones dentro del nav*/
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: .8rem;
}

    #liSearch{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
}

.sheetList, .sheetListProducts, .sheetListGets, .sheetListStats, .sheetListAbout{ /*Sublista del apartado de usuarios y sus consultas*/
font-size: small;
font-weight: 300;
list-style: none;
display: grid;
grid-template-rows: repeat(3, 1fr);
gap: 10px;
transition: all .5s ease;
height: 0;
overflow: hidden;
}

.current-page{
 font-weight: bold;
 color: #0097b2;
}

.fa-caret-up{
    transition: all .3s ease-in-out;
}

#inputSearchProfile{
    padding: 9px 10px;
    border-radius: 15px;
    width: 100%;
    border-style: none;
    font-size: .8rem;
}

#btnSearch{
    width: 5rem;
    font-size: .8rem;
    height: 30px;
    border-radius: 25px;
    border-style: none;
    background-color: #0097b2;
    color: #fff8f1;
    cursor: pointer;
}

/*Contenedor de boton de logueo y modo de colores*/

.btn-color-mode{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 30px;
}

.btn-color-mode-choices{
    width: 100px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #fff8f1;
    border-radius: 20px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.background-modes{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 39px;
    background-color: #fff8f1;
    z-index: 0;
    transition: all 1s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 0;
}

/*Estilos para cuando se cree la clase de dark mode*/

.background-modes.light-mode-active {
  transform: translateX(0);
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.background-modes.dark-mode-active {
  transform: translateX(50px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


/*Aca termina*/

.btn-color-mode-choices button{
 padding: 7px;
 border-style: none;
 background-color: transparent;
 font-size: 15px;
 z-index: 2;
}

.btn-color-mode-choices button:nth-child(2){
    color: #461d01;
}

.btn-color-mode-choices button:nth-child(3){
    color: #fff8f1;
}

.bi-sun, .dark-mode{
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.bi-sun:hover{
    transform: scale(130%);
}

.dark-mode:hover{
    transform: scale(130%);
}

/*Boton de logueo*/

.btn-close-session{
    padding: 10px;
    border-radius: 20px;
    background:linear-gradient(135deg, #EF6C00, #ffb000);
    color: #461d01;
    border-style: none;
    transition: all .5s ease;
    cursor: pointer;
}

.btn-close-session:hover{
 transform: translateY(-2px);
 color: #fff8f1;
}

/*Estilos del formulario para agregar manualmente un nuevo usuario a la pagina*/

#container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(76, 76, 76, 0.356);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
    z-index: 5;
}

#container>form{
    position: relative;
    background-color: #fff8f1;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 70vh;
    border-radius: 1.3rem;
    padding: 2.5rem;
    transition: all .5s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transform: translateY(-200%);
    z-index: 6;
}

body.body-its-dark #container>form{
    background-color: #2f2f2fff;
     box-shadow: 0 10px 30px rgba(200, 200, 200, 0.2);
}

#container>form>input{
    width: 15rem;
    height: 50px;
    padding: 1rem .5rem;
    border-radius: 15px;
    border-style: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

}

input:focus {
  outline: none; /* Elimina el contorno */
  border: none;  /* Opcional: elimina el borde si lo tiene */
}

.buttonBox{
    width: 15rem;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}


.buttonBox button{
    padding: .5rem;
    width: 5rem;
    border-radius: 20px;
    border-style: none;
    background:var(--fade-blue);
    color: #fff8f1;
    cursor: pointer;
    transition: all .2s ease-in-out;
     box-shadow: 0 10px 30px rgba(0,0,0,0.4);
     font-size: .8rem;
}

.buttonBox button:hover{
    transform: scale(1.1);
    background:linear-gradient(135deg, #0D47A1, #0097b2) !important;
    box-shadow: #0097b2 1px 1px 10px 1px;
}

#view{
    width: 85%;
    margin-left: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 50px 50px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.view-header{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

    .btn_add-new-user{ /*Estilos del boton para adicionar usuarios*/
    padding: .5rem 1rem;
    border-style: none;
    border-radius: 1.3rem;
     box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    cursor: pointer;
    font-family: 'Roboto condensed', sans-serif;
    background:linear-gradient(135deg, #0D47A1, #0097b2);
    transition: all .5s ease;
    color: #fff8f1;
    cursor: pointer;
     width: 11rem;
    font-size: .7rem;
}
body.body-its-dark .btn_add-new-user:hover{
    background:linear-gradient(135deg, #0D47A1, #0097b2);
    transform: translateY(-2px);
     box-shadow:  -5px -5px 10px rgba(255, 255, 255, 0.1),
                         10px 10px 10px rgba(0, 0, 0, 0.3),
                         inset -3px -3px 5px rgba(255, 255, 255, 0.1),
                         inset 5px 5px 10px rgba(0, 0, 0, 0.3);
                         background: transparent;
}

.btn_add-new-user i{
    margin-left: .5rem;
    transition: all .5s ease;
}

.btn_add-new-user:hover i{
    transform: rotate(90deg);
}

table {
    width: 80%;
    background-color: #fff8f1;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
     box-shadow: 0 10px 30px rgba(0,0,0,0.2);
     transition: background-color 1s ease;
}


table.table-dark{
    background-color: transparent;
    color: #fff8f1;
    box-shadow:  -5px 0px 5px rgba(255, 255, 255, 0.1),
                         10px 10px 10px rgba(0, 0, 0, 0.3),
                         inset -3px -3px 5px rgba(255, 255, 255, 0.1),
                         inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}

table.table-dark thead{
    background:linear-gradient(135deg, #0D47A1, #0097b2);
    transition: all 1s ease;

}

.table-dark .button-fa-eye{
    color: #fff8f1;
    width: .1rem;
}

table a{
    color: gray;
}

table input{
    width: 6rem;
    padding: .3rem ;
    border-radius: 15px;
    border-style: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}

table input:focus{
    border-style: none;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.514);
}

thead{
    background-color: #461d01;
    color: #fff8f1;  
    transition: all 1s ease;
}

th{
  font-family: 'Roboto condensed';
  font-weight: 300;
  padding: .8rem;
}

#user-table th:nth-child(n+7){width: 4rem; padding: 0;}

td{
    font-size: .8rem;
    padding: .4rem;
}
td>button{
    background-color: transparent;
    border-style: none;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.514);
    cursor: pointer;
    transition: color 1s ease;
}

/*Ventana modal*/

.modalWindow{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(76, 76, 76, 0.356);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.modalContainer{
  width: 25rem;
  height: 60vh;
  background-color: #fff8f1;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
   box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease;
  transform: translateY(-100%);
}

body.body-its-dark .modalContainer{
    background-color: #2f2f2fff;
}

.formUpdateUser{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formUpdateUser input{
    padding: .9rem .5rem;
    border-radius: 10px;
    border-style: none;
    width: 11rem;
    box-shadow: #2b2b2b7e 1px 1px 5px;
    font-family: 'Roboto condensed', sans-serif;
    font-size: .7rem;
}

.formUpdateUser button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    border-style: none;
    box-shadow: #2b2b2b7e 1px 1px 5px;
    font-family: 'Roboto condensed', sans-serif;
    background:linear-gradient(135deg, #0D47A1, #0097b2);
    transition: all .2s ease;
    color: #fff8f1;
    cursor: pointer;
}

.formUpdateUser button:hover{
    transform: scale(1.1);
    background:linear-gradient(135deg, #0D47A1, #0097b2);
    box-shadow: #0097b2 1px 1px 10px 1px;
}

.formUpdateUser h2{
    margin-bottom: 20px;
}

.back-icon{
    position: absolute;
    width: 40px;
    height: 30px;
    top: 30px;
    left: 30px;
    transition: all .5s ease;
    padding-right: 10px;
    cursor: pointer;
}

body.body-its-dark .back-icon{
    filter: brightness(0) invert(1);
}

.back-icon:hover{
transform: translateX(-10px);
    filter: brightness(0) saturate(100%) invert(60%) sepia(30%) saturate(500%) hue-rotate(160deg);
    box-shadow: black 1px 0px 0px;

}

body.body-its-dark .back-icon:hover{
        filter: brightness(0) saturate(100%) invert(60%) sepia(30%) saturate(500%) hue-rotate(160deg);

}

/*Estilos al estar en modo oscuro poara cards y header*/

body.body-its-dark .header{
            background: #2f2f2fff;
            box-shadow:  -5px -5px 10px rgba(255, 255, 255, 0.1),
                         10px 10px 10px rgba(0, 0, 0, 0.3),
                         inset -3px -3px 5px rgba(255, 255, 255, 0.1),
                         inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}

body.body-its-dark .header h1 {
            color: #fff8f1;
        }

body.body-its-dark .stat-card{
            background: #2f2f2fff;
            box-shadow:  -5px -5px 10px rgba(255, 255, 255, 0.1),
                         10px 10px 10px rgba(0, 0, 0, 0.3),
                         inset -3px -3px 5px rgba(255, 255, 255, 0.1),
                         inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}

body.body-its-dark .stat-icon{
            color: #fff8f1;
}

body.body-its-dark .stat-number {
            color: #fff8f1;
        }

body.body-its-dark .stat-label {
            color: #fff8f1;
        }

.search-container{
            width: 80%;
            background:linear-gradient(135deg, #0D47A1, #0097b2);
            padding: 1.5rem;
             border-radius: 1rem;
              margin-bottom: 20px;
               display: flex;
                gap: 1rem;
                 align-items: center;
                  justify-content: center;
                   box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

body.body-its-dark .search-box input{
 background-color: #2f2f2fff;
 color: #fff8f1;
}

body.body-its-dark .search-box input::placeholder{
 color: #fff8f1;
 font-size: .8rem;
}

body.body-its-dark .search-box i{
 color: #fff8f1;
}

body.body-its-dark #btn-search-seller{
    background: #2f2f2fff !important;
 color: #fff8f1;
}

/*Estilo de BOTON general de busqueda de usuarios, clientes o vendedores*/
 #btn-search-seller{
            background: none;
            background-color: #fff8f1 !important;
            color: #2f2f2fff;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            box-shadow:  1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
            display: flex;
            justify-content: center;
        }

/*Estilos para el contenedor de una modal con la clase especificada al estar en modo oscuro*/

body.body-its-dark  .modal-content{
    background-color:#2f2f2fff;
    color: #fff8f1;
}

body.body-its-dark  .modal-content input{
    background-color:#fff8f1 !important;
    color: #2f2f2fff !important;
}

body.body-its-dark  .modal-content input::placeholder{
    color: #2f2f2fff !important;
}

/*Estilos para el documento de ordenes*/

.dashboard-orders>form{
    background-color: var(--chocolate-marron);
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1.3rem;
    padding: 2.5rem;
    transition: all .5s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    z-index: 100;
}

body.body-its-dark .dashboard-orders>form{
    background-color: #2f2f2fff;
     box-shadow: 0 10px 30px rgba(200, 200, 200, 0.2);
}

.dashboard-orders>form>input{
    width: 80%;
    height: 50px;
    padding: 1rem .5rem;
    border-radius: 2rem;
    border-style: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

}

.dashboard-orders button{
    padding: .5rem;
    width: 4rem;
    border-radius: 20px;
    border-style: none;
    background:var(--fade-blue);
    color: #fff8f1;
    cursor: pointer;
    transition: all .2s ease-in-out;
     box-shadow: 0 10px 30px rgba(0,0,0,0.4);
     font-size: .7rem;
}

.dashboard-orders button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 40px #58caff;
    color: var(--fondo-negro);
}

body.body-its-dark .dashboard-orders button:hover{
    transform: scale(1.1);
    background: transparent;
    box-shadow: var(--dark-z-shadow);
    color: var(--pastel-blanco);
}