@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto condensed', sans-serif;
}

body{
        background-color:#fff8f1;
}

/*Estilos de la cabecera*/

header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #461d01;
}

h1{
    font-family: 'Anton', sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 5px;
    cursor: pointer;
}

h1::after{
    content: '';
    width: 3.5px;
    height: 26px;
    background-color: black;
    display: inline-block;
    margin: 0 15px;
    background-color: #461d01;
    border-radius: 10px;
}

h2{
  font-size: 70px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
}

header i{
    padding-top: 5px;
    cursor: pointer;
}

/*Estilos de; Contenedor principal*/

.container{
    width: 100%;
    height: 60vh;
     background-image: 
    linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), /* degradado negro */
    url("https://images.pexels.com/photos/3184285/pexels-photo-3184285.jpeg?cs=srgb&dl=pexels-fauxels-3184285.jpg&fm=jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    display: flex;  
    justify-content: center;
    gap: 100px;
    align-items: center;
    z-index: 0;
    margin-bottom: 50px;
}

.container::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000005d;
    z-index: -1;
}

.content{
    display: flex;
    z-index: 1;
    gap: 50px;
}
.slogan{
  width: 700px;
  color: #fff8f1;
  transform: translateX(-400px);
  opacity: 0;
  transition: all 1s ease;
}

.slogan h2{
  text-align: left;
  font-size: 40px;
  font-weight: 300;
}

.slogan h3{
  margin-top: 50px;
  text-align: right;
  font-size: 30px;
  font-weight: 200;
}

.slogan ul{
  margin-left: 50px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login, .register{
    min-width: 300px;
    height: 200px;
    background-color: #461d015d;
    backdrop-filter: blur(5px);
    border-radius: 35px;
    color:#fff8f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    box-shadow: #000 .5px .5px 3px .5px;
}

.login>h2, .register>h2{
    font-size: 30px;
    font-weight: 100;
}

.newBussines {
  padding: 10px 15px;
  border-radius: 15px;
  border-style: none;
  background-color: #ffb000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

a{
  text-decoration: none;
  color: #461d01;
}

.newBussines::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ffb000;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  border-radius: 15px;
}

/* Estado inicial del brillo */
.newBussines::after {
  content: '';
  display: inline-block;
  width: 140%;
  height: 200px;
  background-color: #fff8f1;
  position: absolute;
  z-index: -1;
  top: -200%;
  left: -200%;
  transform: translateX(0) rotate(60deg);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

/* Al pasar el mouse: se desplaza y se hace visible */
.newBussines:hover::after {
  transform: translateX(130%) rotate(45deg);
  opacity: 1;
}

/* Fondo transparente al hover */
.newBussines:hover {
  background-color: transparent;
}

/*Estilos debajo de la cabecera, dando informacion al usuario sobre el apartado de vendedor*/

.scrolling:nth-child(n+1){
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 50px auto 0 auto;
  gap: 20px;
}

.scrolling-container-section{
  width: 700px;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
}

.scrolling-container-section ul{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 40px;
}

.scrolling-container-section p{
  margin-bottom: 20px;
}

/*Contenedor de INCENTIVOS*/

.incentives{
  width: 50%;
  height: 600px;
  margin: 0 auto 0 auto;
  opacity: 0;
  transform: translateX(150px);
  transition: all 1s ease;
}

.incentives-container-section{
  width: 100%;
  height: 100%; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.incentives-left{
  background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0)),url("../SOURCES/IMAGENES/IMAGES-FREE-RIGHTS/person-reading.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  position: relative;
  box-shadow: #000 1px 1px 3px 1px;
}

.incentives-left::after{
   content: '';
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 215px;
  background-image: url("../SOURCES/IMAGENES/IMAGES-FREE-RIGHTS/web-page-template.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: -200px;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 30px;
  box-shadow: #000 1px 1px 3px 1px;
}

.incentives-right{
  position: relative;
}

.right-cloud{
  position: absolute;
  width: 350px;
  height: 50px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: #000 .5px .5px 3px .5px;
   z-index: 2;
   font-size: 12px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.right-cloud:nth-child(1){
 top: 150px;
}

.right-cloud:nth-child(2){
 top: 400px;
 left: -100px;
}

.right-cloud:nth-child(3){
 top: 250px;
 left: 70px;
}







